{% extends 'layout.html' %}

{% block content %}
{% if action == 'new' %}
    <p><a href="{{ url_for('ui_bp.index') }}">home</a> > <a href="{{ url_for('course_bp.courses_list') }}">turmas</a> > adicionar nova turma</p>
    <h2>Adicionar Turma</h2>
{% elif action == 'edit' %}
    <p><a href="{{ url_for('ui_bp.index') }}">home</a> > <a href="{{ url_for('course_bp.courses_list') }}">turmas</a> > editar turma</p>
    <h2>Editar Turma</h2>
{% endif %}

<form method="POST">
    <label for="nome">Nome:</label><br>
    <input type="text" id="nome" name="nome" 
           value="{% if course %}{{ course.nome }}{% endif %}" 
           required><br><br>

    <label for="descricao">Descrição:</label><br>
    <textarea id="descricao" name="descricao" rows="5" cols="40">{{ course.descricao if course else '' }}</textarea>
    <br><br>
    <label for="teacher_id">Professor:</label><br>
    <select id="teacher_id" name="teacher_id">
        <option value="">--Nenhum--</option>
        {% for t in teachers %}
            <option value="{{ t.id }}"
                {% if course and course.teacher_id == t.id %}selected{% endif %}
            >
                {{ t.nome }}
            </option>
        {% endfor %}
    </select>
    <br><br>
    <button type="submit">
        {% if action == 'new' %}Criar{% else %}Salvar Alterações{% endif %}
    </button>
</form>
{% endblock %}
