<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Registrar</title>
</head>
<body>
    <h1>Registrar Novo Usuário</h1>
    <form method="POST">
        <label for="username">Usuário:</label><br>
        <input type="text" name="username" id="username" required><br><br>

        <label for="email">E-mail:</label><br>
        <input type="email" name="email" id="email" required><br><br>

        <label for="password">Senha:</label><br>
        <input type="password" name="password" id="password" required><br><br>

        <label for="role">Role:</label><br>
        <select name="role" id="role">
            <option value="aluno">Aluno</option>
            <option value="professor">Professor</option>
            <option value="adm">Administrador</option>
        </select><br><br>

        <button type="submit">Cadastrar</button>
    </form>
</body>
</html>
